.standard-background {
    background: linear-gradient(0deg, #9ecd46, #06bf68);
    background: -webkit-linear-gradient(100deg, #9ecd46, #06bf68);
}

.toolbar-background {
  background-color: #06bf68 !important;
}
ion-header {
  position: initial;
}
ion-toolbar.new-background {
    --background: #06bf68;
}

ion-menu-button {
  --color: #fff;
}