.standard-background {
    background: linear-gradient(100deg, #9ecd46, #00a859);
    background: -webkit-linear-gradient(100deg, #9ecd46, #00a859);
}

.toolbar-background {
  background-color: #08aa58 !important;
}
ion-header {
  position: initial;
}
ion-toolbar.new-background {
    --background: #08aa58;
}

ion-menu-button {
  --color: #fff;
}