<ion-content class="bg-standard">
  <div id="container">
    <ng-container *ngIf="loading;else elseBlock">
      <div class="spinner-border text-light" role="status">
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <h5>Faça seu cadastro como {{ role === 'pacient' ? 'Paciente' : 'Parceiro'}}</h5>
      <div class="form-body">
        <div class="form-area">
          <form [formGroup]="form" class="text-left">
            <input type="text" id="name" class="form-control mb-3" formControlName="name"
              [ngClass]="{ 'invalid': submitted && f.name.errors }" placeholder="Digite seu nome" required autofocus>
            <input type="text" id="lastname" class="form-control mb-3" formControlName="lastname"
              [ngClass]="{ 'invalid': submitted && f.lastname.errors }" placeholder="Digite seu sobrenome" required>
            <input type="email" id="email" class="form-control mb-3" formControlName="email"
              [ngClass]="{ 'invalid': submitted && f.email.errors }" placeholder="Digite seu e-mail" required>
              <div *ngIf="error" class="invalid-form">
                {{ error.email }}
              </div>
            <input type="password" id="password" class="form-control mb-3" formControlName="password"
              [ngClass]="{ 'invalid': submitted && f.password.errors }" placeholder="Digite uma senha" required>
            <div class="custom-file">
              <input type="file" (change)="onSelect($event)" class="form-control custom-file-input" id="file" required>
              <label class="custom-file-label text-truncate" id="fileLabel" for="file">Foto para seu perfil</label>
            </div>
            <div class="text-center mt-5">
              <ion-button (click)="onSubmit()" class="access-margin" color="light">Cadastrar
                <span *ngIf="registerLoading" class="loading-button spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              </ion-button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>