<ion-content class="bg-standard">
  <div id="container">
    <h2>Seja Bem Vindo</h2>
    <h4>ao Brasil Saúde</h4>
      <form [formGroup]="form">
        <div class="body-login">
          <div class="form-signin">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <input type="email" id="email" class="form-control mb-3" formControlName="email"
              [ngClass]="{ 'invalid': submitted && f.email.errors }" placeholder="Digite seu e-mail" required autofocus>
            <input type="password" id="password" class="form-control" formControlName="password"
              [ngClass]="{ 'invalid': submitted && f.password.errors }" placeholder="Digite sua senha" required>
            <div class="text-center mt-1">
              <a (click)="register()">Cadastre-se</a>
            </div>
            <div class="text-center">
              <ion-button (click)="onSubmit()" class="access-margin" color="light">Acessar
                <span *ngIf="loading" class="loading-button spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              </ion-button>
              <ion-button (click)="facebookLogin()"
                color="primary">Facebook</ion-button>
            </div>
          </div>
        </div>
      </form>
  </div>
</ion-content>