<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Brasil Saúde</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/">
          <i class="fas fa-home" slot="start"></i>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/pacient">
          <i class="far fa-address-card" slot="start"></i>
          <ion-label>Dados do Paciente</ion-label>
        </ion-item>
        <ion-item routerLink="/search">
          <i class="fas fa-search" slot="start"></i>
          <ion-label>Procurar</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <i class="fas fa-sign-out-alt" slot="start"></i>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="new-background">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet class="standard-background"></ion-router-outlet>
    </ion-content>
  </div>